<a href="https://colab.research.google.com/github/PaulMRivera/Computational_physics/blob/master/Activity_3/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Paso 1

In [ ]:
# Bibliotecas utilizadas
import pandas as pd
import numpy as np

# Tomar la dirección URL del archivo en formato 'raw'
url = 'https://smn.conagua.gob.mx/tools/RESOURCES/Diarios/26071.txt'

# Definimos los nombres de las columnas
# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último, afirmamos que no nay encabezado
# Se procesan los datos utilizando Python, engine='python' 
my_cols = ['Fecha', 'Precip(mm)', 'Evap(mm)', 'Tmax(°C)', 'Tmin(°C)']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')
df_dist

            Fecha Precip(mm) Evap(mm) Tmax(°C) Tmin(°C)
0      05/11/1960          0     Nulo       30     Nulo
1      06/11/1960          0      3.1       32       18
2      07/11/1960          0      6.8       25       15
3      08/11/1960          0      3.4       25       10
4      09/11/1960          0      5.7       25       10
...           ...        ...      ...      ...      ...
14634  27/08/2008          0     Nulo       34       25
14635  28/08/2008          0     Nulo     34.5       26
14636  29/08/2008          0     Nulo       35     26.5
14637  30/08/2008          0     Nulo     34.5     25.5
14638  31/08/2008          0     Nulo       35       26

[14639 rows x 5 columns]

Paso 2

In [ ]:
#Imprimir los primeros (head) y ultimos (tail) 3 valores del DataFrame (DF) 
print(df_dist.head(3))
print(df_dist.tail(3))

        Fecha  Precip(mm)  Evap(mm)  Tmax(°C)  Tmin(°C)
0  05/11/1960         0.0       NaN      30.0       NaN
1  06/11/1960         0.0       3.1      32.0      18.0
2  07/11/1960         0.0       6.8      25.0      15.0
            Fecha  Precip(mm)  Evap(mm)  Tmax(°C)  Tmin(°C)
14636  29/08/2008         0.0       NaN      35.0      26.5
14637  30/08/2008         0.0       NaN      34.5      25.5
14638  31/08/2008         0.0       NaN      35.0      26.0

Paso 3

In [ ]:
#Mostrar los primeros (head) y ultimos (tail) 10 valores del DataFrame  
print(df_dist.head(10))
print(df_dist.tail(10))

        Fecha Precip(mm) Evap(mm) Tmax(°C) Tmin(°C)
0  05/11/1960          0     Nulo       30     Nulo
1  06/11/1960          0      3.1       32       18
2  07/11/1960          0      6.8       25       15
3  08/11/1960          0      3.4       25       10
4  09/11/1960          0      5.7       25       10
5  10/11/1960          0        4       25        9
6  11/11/1960          0      5.2       26       11
7  12/11/1960          0      5.8       23       11
8  13/11/1960          0      2.2       23       13
9  14/11/1960          0      4.6       23        9
            Fecha Precip(mm) Evap(mm) Tmax(°C) Tmin(°C)
14629  22/08/2008          0     Nulo     34.5     27.5
14630  23/08/2008          0     Nulo       35       26
14631  24/08/2008       15.5     Nulo     35.5     26.5
14632  25/08/2008          0     Nulo     34.5     22.5
14633  26/08/2008          0     Nulo     33.5     25.5
14634  27/08/2008          0     Nulo       34       25
14635  28/08/2008          0     Nulo     34.5       26
14636  29/08/2008          0     Nulo       35     26.5
14637  30/08/2008          0     Nulo     34.5     25.5
14638  31/08/2008          0     Nulo       35       26

In [ ]:
#Mostrar las dimenciones del DataFrame, formato (renglones, columnas) 
df_dist.shape

(14639, 5)

In [ ]:
#Mostrar informacion del DataFrame segregado por cada columna 
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14639 entries, 0 to 14638
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       14639 non-null  object
 1   Precip(mm)  14639 non-null  object
 2   Evap(mm)    14639 non-null  object
 3   Tmax(°C)    14639 non-null  object
 4   Tmin(°C)    14639 non-null  object
dtypes: object(5)
memory usage: 572.0+ KB

In [ ]:
#Cambiar los valores "Nulo" por un campo vacio
df_dist = df_dist.replace(to_replace='Nulo', value='', regex=True)
df_dist

            Fecha  Precip(mm)  Evap(mm)  Tmax(°C)  Tmin(°C)
0      05/11/1960         0.0       NaN      30.0       NaN
1      06/11/1960         0.0       3.1      32.0      18.0
2      07/11/1960         0.0       6.8      25.0      15.0
3      08/11/1960         0.0       3.4      25.0      10.0
4      09/11/1960         0.0       5.7      25.0      10.0
...           ...         ...       ...       ...       ...
14634  27/08/2008         0.0       NaN      34.0      25.0
14635  28/08/2008         0.0       NaN      34.5      26.0
14636  29/08/2008         0.0       NaN      35.0      26.5
14637  30/08/2008         0.0       NaN      34.5      25.5
14638  31/08/2008         0.0       NaN      35.0      26.0

[14639 rows x 5 columns]

In [ ]:
#Convertir los valores de las distintas variables a números flotantes flotantes 
cols_list = ['Precip(mm)', 'Evap(mm)', 'Tmax(°C)', 'Tmin(°C)']
for cols in cols_list:
  df_dist[cols] = pd.to_numeric(df_dist[cols], errors='coerce')

df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14639 entries, 0 to 14638
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       14639 non-null  object
 1   Precip(mm)  14521 non-null  float64
 2   Evap(mm)    9809 non-null   float64
 3   Tmax(°C)    13962 non-null  float64
 4   Tmin(°C)    14064 non-null  float64
dtypes: float64(4), object(1)
memory usage: 572.0+ KB

In [ ]:
# De la instrucción anterior, vemos que hay valores faltantes. Sumamos los valores nulos. 
df_dist.isnull().sum()

Fecha            0
Precip(mm)     118
Evap(mm)      4830
Tmax(°C)       677
Tmin(°C)       575
dtype: int64

In [ ]:
#Mostrar los extremos del DataFrame para observar el cambio 
print(df_dist.head(5))
print(df_dist.tail(5))

        Fecha  Precip(mm)  Evap(mm)  Tmax(°C)  Tmin(°C)
0  05/11/1960         0.0       NaN      30.0       NaN
1  06/11/1960         0.0       3.1      32.0      18.0
2  07/11/1960         0.0       6.8      25.0      15.0
3  08/11/1960         0.0       3.4      25.0      10.0
4  09/11/1960         0.0       5.7      25.0      10.0
            Fecha  Precip(mm)  Evap(mm)  Tmax(°C)  Tmin(°C)
14634  27/08/2008         0.0       NaN      34.0      25.0
14635  28/08/2008         0.0       NaN      34.5      26.0
14636  29/08/2008         0.0       NaN      35.0      26.5
14637  30/08/2008         0.0       NaN      34.5      25.5
14638  31/08/2008         0.0       NaN      35.0      26.0

In [ ]:
#Un breve análisis estadístico, en el caul podemos observar que los valores estan dentro de lo esperado dado la region que es, unos valores parecidos a los de nuestra localidad a excepcion de la evaporacion dedo que puesto libertad es zona costera
df_dist.describe()

         Precip(mm)    Evap(mm)      Tmax(°C)      Tmin(°C)
count  14521.000000  9809.00000  13962.000000  14064.000000
mean       0.280504     6.18064     27.108953     14.884123
std        2.420622     2.63102      6.317689      7.693098
min        0.000000     0.10000      8.500000     -6.000000
25%        0.000000     4.20000     22.000000      8.500000
50%        0.000000     6.10000     27.000000     14.000000
75%        0.000000     8.10000     32.500000     21.500000
max       87.600000    16.10000     44.000000     32.000000

Paso 4

In [ ]:
#Creacion de copia de respaldo de todo el DataFrame
df_respaldo=df_dist.copy()

In [ ]:
#Cambio de formato para la columna Fecha a un formato de fecha que comprende Python
df_dist['Fecha']=pd.to_datetime(df_dist['Fecha'], dayfirst=True)

In [ ]:
#Observamos la diferencia en los tipos de las columnas fecha de cada DataFrame
print(df_dist.dtypes)
print(df_respaldo.dtypes)

Fecha         datetime64[ns]
Precip(mm)           float64
Evap(mm)             float64
Tmax(°C)             float64
Tmin(°C)             float64
dtype: object
Fecha          object
Precip(mm)    float64
Evap(mm)      float64
Tmax(°C)      float64
Tmin(°C)      float64
dtype: object

In [ ]:
# Buscamos ahora añadir dos columnas adicionales: df['Año'], df['Mes']
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_dist['Año'] = df_dist['Fecha'].dt.year
df_dist['Mes'] = df_dist['Fecha'].dt.month

In [ ]:

# Corroborar la elaboracion de las dos columnas extras
print(df_dist.head())
print(df_dist.tail())

       Fecha  Precip(mm)  Evap(mm)  Tmax(°C)  Tmin(°C)   Año  Mes
0 1960-11-05         0.0       NaN      30.0       NaN  1960   11
1 1960-11-06         0.0       3.1      32.0      18.0  1960   11
2 1960-11-07         0.0       6.8      25.0      15.0  1960   11
3 1960-11-08         0.0       3.4      25.0      10.0  1960   11
4 1960-11-09         0.0       5.7      25.0      10.0  1960   11
           Fecha  Precip(mm)  Evap(mm)  Tmax(°C)  Tmin(°C)   Año  Mes
14634 2008-08-27         0.0       NaN      34.0      25.0  2008    8
14635 2008-08-28         0.0       NaN      34.5      26.0  2008    8
14636 2008-08-29         0.0       NaN      35.0      26.5  2008    8
14637 2008-08-30         0.0       NaN      34.5      25.5  2008    8
14638 2008-08-31         0.0       NaN      35.0      26.0  2008    8

In [ ]:
# Verificamos que Año y Mes son variables enteras 
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14639 entries, 0 to 14638
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       14639 non-null  datetime64[ns]
 1   Precip(mm)  14521 non-null  float64
 2   Evap(mm)    9809 non-null   float64
 3   Tmax(°C)    13962 non-null  float64
 4   Tmin(°C)    14064 non-null  float64
 5   Año         14639 non-null  int64
 6   Mes         14639 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 800.7 KB